<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr />
    <form novalidate (ngSubmit)="addUser()" [formGroup]="entryForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                        formControlName="nome"
                        [ngClass]="{'is-invalid': entryForm.get('nome').errors && (entryForm.get('nome').dirty || entryForm.get('nome').touched) }" />
                    <span class="text-danger"
                        *ngIf="entryForm.get('nome')?.errors && (entryForm.get('nome').dirty || entryForm.get('nome').touched)">
                        <p>Preencha o campo Nome!</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf"
                        cpf [textMask]="{mask: MASK.cpf.textMask}"
                        [ngClass]="{'is-invalid': entryForm.get('cpf').errors && (entryForm.get('cpf').dirty || entryForm.get('cpf').touched) }" />

                    <span class="text-danger"
                        *ngIf="entryForm.get('email')?.errors?.required && (entryForm.get('cpf').dirty || entryForm.get('cpf').touched)">
                        <p>Preencha o campo CPF!</p>
                    </span>
                    <span class="text-danger"
                        *ngIf="entryForm.get('email')?.errors?.cpf && (entryForm.get('cpf').dirty || entryForm.get('cpf').touched)">
                        <p>CPF em formato inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"
                        formControlName="email"
                        [ngClass]="{'is-invalid': entryForm.get('email').errors && (entryForm.get('email').dirty || entryForm.get('email').touched) }" />
                    <span class="text-danger"
                        *ngIf="entryForm.get('email')?.errors?.required && (entryForm.get('email').dirty || entryForm.get('email').touched)">
                        <p>Preencha o campo email!</p>
                    </span>
                    <span class="text-danger"
                        *ngIf="entryForm.get('email')?.errors?.email && (entryForm.get('email').dirty || entryForm.get('email').touched)">
                        <p>Email em formato inválido</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)"
                        formControlName="senha"
                        [ngClass]="{'is-invalid': entryForm.get('senha').errors && (entryForm.get('senha').dirty || entryForm.get('senha').touched) }" />

                    <span class="text-danger"
                        *ngIf="entryForm.get('senha')?.errors?.required && (entryForm.get('email').dirty || entryForm.get('senha').touched)">
                        <p>Preencha o campo senha!</p>
                    </span>
                    <span class="text-danger"
                        *ngIf="entryForm.get('senha')?.errors?.rangeLength && (entryForm.get('senha').dirty || entryForm.get('senha').touched)">
                        <p>Senha deve ter entre 6 e 15 caracteres</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Confirme a Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senhaConfirmacao" type="password"
                        placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao"
                        [ngClass]="{'is-invalid': entryForm.get('senhaConfirmacao')?.errors && (entryForm.get('senhaConfirmacao').dirty || entryForm.get('senhaConfirmacao').touched) }" />

                    <span class="text-danger"
                        *ngIf="entryForm.get('senhaConfirmacao')?.errors?.required && (entryForm.get('senhaConfirmacao').dirty || entryForm.get('senhaConfirmacao').touched)">
                        <p>Preencha o campo senha!</p>
                    </span>
                    <span class="text-danger"
                        *ngIf="entryForm.get('senhaConfirmacao')?.errors?.rangeLength && (entryForm.get('senhaConfirmacao').dirty || entryForm.get('senhaConfirmacao').touched)">
                        <p>Senha deve ter entre 6 e 15 caracteres</p>
                    </span>
                    <span class="text-danger"
                        *ngIf="entryForm.get('senhaConfirmacao')?.errors?.equalTo && (entryForm.get('senhaConfirmacao').dirty || entryForm.get('senhaConfirmacao').touched)">
                        <p>Senhas devem ser iguais</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" [disabled]="!entryForm.valid"
                            type="submit">Registrar</button></span>
                </div>
            </div>

        </div>
    </form>
</div>