<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of list; index as i">
                <td>
                    <span>{{ item.nome }}</span>

                    <span *ngIf="!item.finalizado && item.iniciado" class="task-list__finalizado" (click)="toogleItem(i,'finalizar')"></span>
                    <span *ngIf="!item.finalizado && !item.iniciado" class="task-list__iniciado" (click)="toogleItem(i,'iniciar')"></span>
                    <span *ngIf="item.finalizado && !item.iniciado" class="task-list__retroceder" (click)="toogleItem(i,'retomar')"></span>
                    <span *ngIf="!item.finalizado && item.iniciado" class="task-list__retroceder" (click)="toogleItem(i,'cancelar')"></span>
                </td>
            </tr>
        </tbody>
    </table>

</div>